.dialogOfDemandMoreThanSupplyText {
  font-family: inherit;
  font-weight: 600;
  font-size: 1.2em;
}

@media screen and (max-width: 1000px) {
  .dialogOfDemandMoreThanSupplyText {
    font-size: 1em;
  }
}

@media screen and (max-width: 500px) {
  .dialogOfDemandMoreThanSupplyText {
    font-size: 0.8em;
  }
}
