.mainInnerContainer {
  width: 90%;
  margin: 100px auto;
}

.productRegisteringAlertText {
  font-size: 1.5em;
  font-weight: 800;
}

.productRegisteringAlertMoment {
  color: red;
  font-size: 2em;
  margin-top: 5px;
}

@media screen and (max-width: 1000px) {
  .mainInnerContainer {
    margin: 80px auto;
  }

  .productRegisteringAlertText {
    font-size: 1.2em;
  }

  .productRegisteringAlertMoment {
    font-size: 1.5em;
    margin-top: 3px;
  }
}

@media screen and (max-width: 800px) {
  .mainInnerContainer {
    margin: 60px auto;
  }
  .productRegisteringAlertText {
    font-size: 1em;
  }

  .productRegisteringAlertMoment {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 600px) {
  .productRegisteringAlertText {
    font-size: 0.8em;
  }

  .productRegisteringAlertMoment {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 400px) {
  .productRegisteringAlertText {
    font-size: 0.6em;
  }

  .productRegisteringAlertMoment {
    font-size: 1em;
  }
}
